<section class="h-screen bg-amber-50 flex flex-col items-center">
  <div class="w-full max-w-5xl px-6 pt-10">
    <input
      type="search"
      class="w-full rounded-xl border border-emerald-900/30 bg-amber-50 px-4 py-3 text-lg font-arimo text-black placeholder:text-slate-300 shadow-sm outline-none focus:border-emerald-700 focus:ring-2 focus:ring-emerald-500/60"
      placeholder="Search tours..."
      (input)="onSearchTerm($event.target.value)"
    />
  </div>
  <section class="grid gap-6 p-6 md:grid-cols-2 lg:grid-cols-3 bg-amber-50 h-fit w-screen">
    @if (tours$ | async; as tours) {
      @if (tours.length === 0) {
        <p class="col-span-full text-center text-slate-500">No tours available right now. Please check back later.</p>
      } @else {
        @if(enableTours){
           @for (tour of tours; track tour.id) {
          <app-tour [tour]="tour"></app-tour>
         }}@else {
          <p>no tours</p>
         }
      }
        }
     @else {
      <p class="col-span-full text-center text-slate-500">Loading tours...</p>
    }
  </section>
  <button class="py-5 bg-emerald-800 h-4 w-2xs mx-auto rounded-2xl font-arimo text-xl flex justify-center items-center font-bold" (click)="enableTours=!enableTours">TOURS</button>
</section>
