<header class="header">
  <div class="brand">
    <div class="logo">
      <i-lucide [img]="HandMetal"  [size]="30" class="logo__icon"></i-lucide>
      <span class="logo__text">SneakHead</span>
    </div>
  </div>

  <div class="nav">
    <nav class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__item"><a routerLink="home/">Home</a></li>
        <li class="main-nav__item"><a routerLink="about/">About Us</a></li>
        <li class="main-nav__item"><a routerLink="sneakers/">Sneakers</a></li>

        <!--main-nav__item--active-->
      </ul>
    </nav>
  </div>

  <div class="actions">
    <button class="login-btn">Login</button>
  </div>
</header>
