<header class="bg-emerald-700 h-16 shadow-xl/30 flex items-center px-8 font-arimo">
  <nav class="mx-auto">
    <ul class="flex gap-20 text-white font-medium">
      <li>
        <a routerLink="home/" class="hover:text-gray-200 transition">Home</a>
      </li>
      <li>
        <a routerLink="courses/" class="hover:text-gray-200 transition">Blog</a>
      </li>
      <li>
        <a routerLink="about/" class="hover:text-gray-200 transition">About us</a>
      </li>
    </ul>
  </nav>
</header>
